<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<!--
    Copyright (C) 2007-2017 Tatsuo Satoh <multisqllib@gmail.com>

    This file is part of sqlapp-core-mysql.

    sqlapp-core-mysql is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    sqlapp-core-mysql is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with sqlapp-core-mysql.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="com.sqlapp">
    <level value ="DEBUG" />
    <appender-ref ref="STDOUT"/>
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="STDOUT"/>
    <!--
    <appender-ref ref="mail"/>
	-->
  </root>
</configuration>